@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  --gray: hsl(204, 43%, 93%);
  --blue: hsl(218, 22%, 67%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--gray);
}

.container {
  height: 475px;
  max-width: 635px;
  display: grid;
  grid-template-areas:
    'intro intro'
    'subscribe about';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.2fr;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#intro {
  grid-area: intro;
  padding: 40px 40px 30px;
  background: #fff;
}

h2 {
  color: var(--cyan);
  margin-bottom: 1.3rem;
}

#intro h3 {
  color: var(--yellow);
  margin-bottom: 1rem;
}

#intro p {
  line-height: 1.5rem;
  color: var(--blue);
}

#subscribe,
#about {
  padding: 40px 40px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#subscribe p {
  font-size: 0.97rem;
  color: var(--gray);
}

#subscribe {
  grid-area: subscribe;
  background: var(--cyan);
  color: #fff;
}

#about {
  grid-area: about;
  background: #4abebd;
  color: var(--gray);
}

h3 {
  font-size: 1.1rem;
  color: #fff;
}

#pricing {
  color: var(--gray);
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
}

#price {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  padding-right: 10px;
}

button {
  border: none;
  background: var(--yellow);
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  margin-top: 20px;
}

ul {
  list-style: none;
  line-height: 1.3rem;
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 0;
}
